---
import "@styles/global.css";
import type { Language } from '@src/types/language.type';

export function getStaticPaths() {
    return [
        { params: { locale: "es-ES" } },
        { params: { locale: "ca-ES" } },
        { params: { locale: "en-GB" } },
        { params: { locale: "ua-UK" } },
    ];
}

const locale = Astro.params.locale as Language;
const angularImage = "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg";
---

<html lang={`${locale || "es-ES"}`}>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <title>Angular in Astro</title>
        <base href=`/${locale}/calculator/`>
        <link rel="icon" type="image/x-icon" href="/yk_round.ico" />
        <link rel="stylesheet" href="/angular/calculator/styles-4VXF3FO3.css" />
    </head>
    <body>
        <header class="fixed bg-transparent inset-0 w-full h-(--header-h) px-4 flex justify-between items-center">
            <a href={`/${locale}/`} class="flex justify-center items-center px-4 py-2 text-white hover:bg-gray-900/80 bg-gray-900/60 rounded-xl hover:scale-105 transition-all">
                <i class="icon-[line-md--arrow-left]" />
            </a>

            <div class="flex flex-row gap-4 justify-center items-center px-4 py-2">
                <span class="text-white/80 text-sm">
                    Developed in
                </span>
                <img src={angularImage} alt="Angular image" class="size-6">
            </div>
        </header>

        <app-root></app-root>

        <script is:inline src="/angular/calculator/main-22HLZTAV.js" type="module"></script>
        <!-- <script is:inline src="/angular/calculator/main.js" type="module"></script>  -->
    </body>
</html>

<style>
    body {
        font-family: "font-lg", "font-md", system-ui, sans-serif;
    }

    header {
        animation: drawBlur2xl 1s ease both;
        animation-timeline: scroll();
        animation-range: 0 250px;
    }
</style>