@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

:root {
    --primary-color: rgb(2, 6, 24);
    --header-h: 70px;
}

html:not(.dark) {
    --primary-color: rgb(235, 255, 255, .6);
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'font-md';
    src: url('../../public/font/Onest-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@utility bg-angular {
    background-color: #c1002a57;
}

@utility bg-svelte {
    background-color: rgba(255, 62, 0, 0.35);
}

@utility bg-typescript {
    background-color: rgba(49, 120, 198, 0.15);
}

@utility bg-tailwindcss {
    background-color: #003159;
}

@utility primary-color {
    background-color: var(--primary-color);
}

@utility animate-width-to-full {
    animation: width-to-full 1s forwards;
}

@utility animate-translate-x-full {
    animation: translate-x-full .5s forwards;
}

@utility animate-transl-x-full-opacity {
    animation: translate-x-full-op .5s forwards;
}

@utility animate-h-full {
    animation: animate-h-to-full .5s forwards;
}

@utility animate-translate-x-delay-500 {
    animation: translate-x-full .5s forwards;
    animation-delay: 500ms;
}

@utility animate-height-to-full {
    animation: animate-h-full 2s forwards;
}

@keyframes drawBg {
    to {
        backdrop-filter: blur(15px);
        border-color: var(--nav-border-color);
        background-color: var(--drawBg);
        box-shadow: var(--nav-shadow);
    }
}

@keyframes width-to-full {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes translate-x-full {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes translate-x-full-op {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animate-h-to-full {
    from {
        height: 0;
    } to {
        height: 100%;
    }
}

@keyframes animate-h-full {
    from {
        height: 0;
    } to {
        height: 100%;
    }
}

@keyframes drawBlur2xl {
    from {
        backdrop-filter: blur(0px);
    } to {
        backdrop-filter: blur(40px);
    }
}